* {
  margin: 0;
  padding: 0;
}

.bg-blue-dark {
  background: rgb(67, 105, 175);
}

.bg-blue-light {
  background-color: rgb(88, 137, 229) !important;
}

body {
  background-color: rgb(62, 108, 194) !important;
}

.no-shadow:focus {
  box-shadow: none;
}
