* {
  margin: 0;
  padding: 0;
}

.bg-blue-dark {
  /* background: rgb(67, 105, 175); */
	background: #fb5092;
}

.bg-blue-light {
  /* background-color: rgb(88, 137, 229) !important; */
	background-color: #d6608e;
}

body {
  /* background-color: rgb(62, 108, 194) !important; */
	background-color: #cf4278;;
}

.no-shadow:focus {
  box-shadow: none;
}

.input-group-text {
	padding: 10px;
}
